*{
    margin: 0;
    padding: 0;
    font-family:'Courier New', Courier, monospace;
    box-sizing: border-box;
    }
.conatainer{
    background: #222;
    color: #fff;
    background-size: cover;
    background-position: center;
    max-width: 450px;
    height: 100vh;
    margin: auto;
    position: relative;
}
body {
    background-color: #A18C36; 
    color: #103E81;
}
header {
    background-color: #34098C;
    color: #39FEBE;
}
nav a:hover {
    background-color: #013F71;
    color: #B80289;
}
.book, .join {
    background-color: #fcfbfb; 
    color: #A7B125;
}
.book:hover, .join:hover {
    background-color: #8C4B0E;
    color: #9B153C;
}
#background {
    background-color: #D05D63;
    color: #D302EC;
}
.msg {
    background-color: #662DEF;
    color: #42627C;
}
footer {
    background-color: #52193A;
    color: #1CCF27;
}
nav a {
    text-align: center;
    color: #29CD30;
    text-decoration: none;
}    
.book, .join {
    text-align: center;
    color: #913CE8;
    text-decoration: none;
}    
footer a {
    text-align: center;
    color: #8E3E0A;
    text-decoration: none;
}    
footer p {
    font-size: 1.2em;
}    
footer p a:hover {
    text-decoration: underline;
}     